.header {
    width: 100%;
    background-color: #fd9255;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 138px;
    max-width: 1145px;
    width: 100%;
}
.header__img-container {
    width: 180px;
    height: 138px;
    position: relative;
}
.header__img {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 7px;
    right: 13px;
}

.header__menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.header__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 602px;
    width: 100%;
}

.header__li {
    list-style-type: none;
}

@media screen and (max-width: 1300px) {
    .header__ul {
        margin-right: 70px;
    }
}

@media screen and (max-width: 700px) {
    .header__ul {
        margin-right: 40px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: auto;
    }
}

.header__li {
    text-align: center;
    width: 100%;
}
