
.main{
    position: relative;
   
   }


.main__items{

     display: grid;
     justify-content: center;
     grid-template-columns: repeat(5,minmax(auto,220px));
     column-gap: 38.76px;
     row-gap: 41px;
     margin: 0 10px;

   }

.main__card{

     display: flex;
     flex-direction: column;
     gap: 41px;
   }

.main__item{
     display: flex;
     flex-direction: column;
     /* width: 220px;*/
     height: 222px; 
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
     justify-content: space-between;
    align-items: center;
   }

.main__item-container{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     flex-grow: 1;
     background-color: #fff;
   }



.main__item-name{
     width: 100%;
     text-align: center;
     height: 74px;
     font-weight: 300;
     font-size: 21px;

   }


.main__barra{
     position: relative;
     display: flex;
     justify-content: space-between;
     border-radius: 5px;
     overflow: hidden;



   }

.main__button{
     min-width: 41.35px;
     height: 50px;
     font-weight: 400;
     font-size: 20px;
     background-color: #E2E2E2;
     border: none;
   }

.main__count::-webkit-inner-spin-button,.main__count::-webkit-outer-spin-button{
     -webkit-appearance: none;
   }

.main__count{

     font-weight: 400;
     font-size: 20px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;

     border: 1px solid #E2E2E2;
     background-color: #fff;

   }

.main__count:focus{


     border: 1px solid #FD9255;;
     background-color: #fff;
     outline: none;


   }




   @media  screen and (max-width:1300px) {


       .main__items{
        max-width: 100%;
        grid-template-columns: repeat(4,220px);
      
       
       
        
        margin: 0 10px;

   
      }

      .main__items div.main__card:nth-last-child(1){

        grid-column: 3;
      }

      .main__items div.main__card:nth-last-child(2){

        grid-column: 2;
      }
   
    
}

   @media  screen and (max-width:1050px) {


       .main__items{

        grid-template-columns: 220px 220px 220px;
      
   
   
      }

      .main__items div.main__card:nth-last-child(1){

        grid-column: 2;
      }

      .main__items div.main__card:nth-last-child(2){

        grid-column: 3;
      }







    
    
}

@media  screen and (max-width:800px) {


  .main__items{

      grid-template-columns: 250px 250px;

 
    }

    .main__items div.main__card:nth-last-child(1){

      grid-column: auto;
    }

    .main__items div.main__card:nth-last-child(2){

      grid-column: auto;
    }





}


@media  screen and (max-width:590px) {


    .main__items{
        grid-template-columns: 250px;
      
   
      }








    
    
}

